invenio_price_sync_v2.json
{
    "name": "Invenio Price Sync",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -1200,
                0
            ],
            "id": "price-schedule",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://72.60.38.114:8080/wp-json/jwt-auth/v1/token",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{ \"username\": \"admin\", \"password\": \"Ibiza62447881%%\" }",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -960,
                0
            ],
            "id": "price-jwt",
            "name": "WP - Get JWT Token"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_list",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -720,
                0
            ],
            "id": "price-get-villas",
            "name": "Invenio - Get Villa List"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_price",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -480,
                0
            ],
            "id": "price-get-prices",
            "name": "Invenio - Get Prices"
        },
        {
            "parameters": {
                "jsCode": "// === Build Price Map ===\n// Unisce villas + prices, filtra solo Ibiza e date valide\nconst villasRaw = $('Invenio - Get Villa List').first().json;\nconst pricesRaw = $('Invenio - Get Prices').first().json;\nconst villas = villasRaw.villas || [];\nconst priceData = pricesRaw.price_data || {};\nconst today = new Date().toISOString().slice(0, 10);\n\nconst results = [];\nfor (const villa of villas) {\n  // Solo ville a Ibiza\n  if (villa.destination !== 'Ibiza') continue;\n  \n  const uuid = villa.v_uuid;\n  const periods = priceData[uuid];\n  if (!Array.isArray(periods) || periods.length === 0) continue;\n  \n  // Filtra periodi validi: date complete, amount presente, non scaduti\n  const validPrices = periods\n    .filter(p => p && p.start_date && p.end_date && p.amount && p.end_date >= today)\n    .map(p => ({\n      date_range: { from: p.start_date, to: p.end_date },\n      price: String(p.amount),\n      details: {}\n    }));\n  \n  if (validPrices.length === 0) continue;\n  \n  results.push({\n    json: {\n      villa_name: villa.villa_name,\n      v_uuid: uuid,\n      custom_price: validPrices,\n      price_count: validPrices.length\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { error: 'No Ibiza villas with valid future prices', total_villas: villas.length, price_uuids: Object.keys(priceData).length } }];\n}\nreturn results;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -240,
                0
            ],
            "id": "price-build-map",
            "name": "Build Price Map"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                0,
                0
            ],
            "id": "price-loop",
            "name": "Loop Villas"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://72.60.38.114:8080/wp-json/ibiza-beyond/v1/property/search-by-uuid/{{ $json.v_uuid }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('WP - Get JWT Token').first().json.token }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                240,
                0
            ],
            "id": "price-search-uuid",
            "name": "WP - Search by UUID",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// === Prepare Price Payload ===\n// Verifica se la villa è stata trovata su WP e prepara il payload\nconst searchResult = $input.first().json;\nconst villaData = $('Loop Villas').item.json;\n\n// Controlla risposta dal custom endpoint\nif (searchResult.status === 'found' && searchResult.property_id) {\n  return [{\n    json: {\n      skip: false,\n      wp_id: searchResult.property_id,\n      villa_name: villaData.villa_name,\n      v_uuid: villaData.v_uuid,\n      custom_price: villaData.custom_price,\n      price_count: villaData.price_count\n    }\n  }];\n}\n\n// Villa non trovata su WP Rentals\nreturn [{\n  json: {\n    skip: true,\n    villa_name: villaData.villa_name,\n    v_uuid: villaData.v_uuid,\n    reason: 'Villa non trovata su WP Rentals'\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                0
            ],
            "id": "price-prepare",
            "name": "Prepare Price Payload"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "price-cond-not-skip",
                            "leftValue": "={{ $json.skip }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                720,
                0
            ],
            "id": "price-if-found",
            "name": "Listing Found?"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://72.60.38.114:8080/wp-json/wprentals/v1/property/edit/{{ $json.wp_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('WP - Get JWT Token').first().json.token }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ custom_price: $json.custom_price }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                960,
                -80
            ],
            "id": "price-update",
            "name": "WP - Update Prices",
            "onError": "continueRegularOutput",
            "retryOnFail": true,
            "maxTries": 2,
            "waitBetweenTries": 3000
        },
        {
            "parameters": {
                "jsCode": "// === Log Result ===\nconst item = $input.first().json;\n\n// Determina lo status in base al percorso\nlet status = 'UPDATED';\nif (item.skip) {\n  status = 'SKIPPED';\n} else if (item.error || item.statusCode >= 400) {\n  status = 'ERROR';\n}\n\nreturn [{\n  json: {\n    status: status,\n    villa: item.villa_name || item.villa || 'unknown',\n    wp_id: item.wp_id || 'N/A',\n    reason: item.reason || '',\n    prices: item.price_count || 0,\n    v_uuid: item.v_uuid || ''\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                0
            ],
            "id": "price-log",
            "name": "Log Result"
        },
        {
            "parameters": {
                "jsCode": "// === Summary Report ===\n// Genera un riepilogo finale dopo il loop\nconst items = $input.all().map(i => i.json);\nconst updated = items.filter(i => i.status === 'UPDATED');\nconst skipped = items.filter(i => i.status === 'SKIPPED');\nconst errors  = items.filter(i => i.status === 'ERROR');\n\nconst report = {\n  summary: `Price Sync completed: ${updated.length} updated, ${skipped.length} skipped, ${errors.length} errors`,\n  timestamp: new Date().toISOString(),\n  total: items.length,\n  updated: updated.length,\n  skipped: skipped.length,\n  errors: errors.length,\n  details: {\n    updated_villas: updated.map(v => `${v.villa} (WP#${v.wp_id}, ${v.prices} periods)`),\n    skipped_villas: skipped.map(v => `${v.villa}: ${v.reason}`),\n    error_villas: errors.map(v => `${v.villa}: ${v.reason}`)\n  }\n};\n\nreturn [{ json: report }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1440,
                -200
            ],
            "id": "price-summary",
            "name": "Summary Report"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "WP - Get JWT Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP - Get JWT Token": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Villa List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Villa List": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Prices",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Prices": {
            "main": [
                [
                    {
                        "node": "Build Price Map",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Price Map": {
            "main": [
                [
                    {
                        "node": "Loop Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Villas": {
            "main": [
                [
                    {
                        "node": "Summary Report",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "WP - Search by UUID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP - Search by UUID": {
            "main": [
                [
                    {
                        "node": "Prepare Price Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Price Payload": {
            "main": [
                [
                    {
                        "node": "Listing Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Listing Found?": {
            "main": [
                [
                    {
                        "node": "WP - Update Prices",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP - Update Prices": {
            "main": [
                [
                    {
                        "node": "Log Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Result": {
            "main": [
                [
                    {
                        "node": "Loop Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner"
    }
}