invenio_sync_v2.json
{
    "name": "invenio sync v2",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -1296,
                -1568
            ],
            "id": "3d80a78c-275e-4f01-bdc0-2d6517f518c3",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_list",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -1008,
                -1552
            ],
            "id": "28bddcec-b77e-4c61-b2b7-bb0463e05283",
            "name": "Invenio - Get Villas"
        },
        {
            "parameters": {
                "fieldToSplitOut": "villas",
                "options": {}
            },
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -784,
                -1552
            ],
            "id": "b117dcd9-638b-4589-9590-39624105232d",
            "name": "Split Villas"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "85907ad6-77c8-4754-a140-9d687e185b0b",
                            "leftValue": "={{ $json.destination }}",
                            "rightValue": "Ibiza",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -560,
                -1552
            ],
            "id": "b667f86b-06d2-44f0-a1b7-79acb1a41d53",
            "name": "If"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -336,
                -1552
            ],
            "id": "a1ff4c58-8ff2-47a9-86c1-1a25e486ee7b",
            "name": "Loop insert 1 villa"
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "={{ $('Loop insert 1 villa').item.json.villa_name.normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').replace(/[^a-zA-Z0-9 ]/g, '') }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list",
                    "cachedResultName": "My Drive",
                    "cachedResultUrl": "https://drive.google.com/drive/my-drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "1saDYoUNU4i-fqVNEdrHkZy4tNLqhwXuT",
                    "mode": "id"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                -112,
                -1552
            ],
            "id": "gdrive-title-id",
            "name": "Google Drive - Create Title Folder"
        },
        {
            "parameters": {
                "resource": "folder",
                "name": "foto",
                "driveId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $json.id }}"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                112,
                -1552
            ],
            "id": "gdrive-foto-id",
            "name": "Google Drive - Create Foto Folder"
        },
        {
            "parameters": {
                "jsCode": "const villaData = $('Loop insert 1 villa').item.json;\nconst photos = villaData.photos || [];\nconst fotoFolderId = $('Google Drive - Create Foto Folder').item.json.id;\n\nif (photos.length === 0) {\n  return [{ json: { photo_url: '', fotoFolderId, _noPhotos: true } }];\n}\n\nreturn photos.map(url => ({\n  json: { photo_url: url, fotoFolderId }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                -1552
            ],
            "id": "extract-photos-id",
            "name": "Extract Photos"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "cond-has-photos",
                            "leftValue": "={{ $json.photo_url }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                560,
                -1552
            ],
            "id": "check-has-photos",
            "name": "Has Photos"
        },
        {
            "parameters": {
                "url": "={{ $json.photo_url.replace(/ /g, '%20') }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                784,
                -1552
            ],
            "id": "download-photo-id",
            "name": "Download Photo",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 3000
        },
        {
            "parameters": {
                "name": "={{ $('Has Photos').item.json.photo_url.split('/').pop() }}",
                "driveId": {
                    "__rl": true,
                    "value": "My Drive",
                    "mode": "list",
                    "cachedResultName": "My Drive"
                },
                "folderId": {
                    "__rl": true,
                    "value": "={{ $('Has Photos').item.json.fotoFolderId }}",
                    "mode": "id"
                },
                "inputDataFieldName": "data",
                "options": {}
            },
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1008,
                -1552
            ],
            "id": "upload-gdrive-id",
            "name": "Upload to Google Drive",
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 5000
        },
        {
            "parameters": {
                "jsCode": "const results = $input.all();\nreturn [{ json: { photos_uploaded: results.length, status: 'done' } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1232,
                -1552
            ],
            "id": "aggregate-results-id",
            "name": "Aggregate Results"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Villas": {
            "main": [
                [
                    {
                        "node": "Split Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Villas": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Loop insert 1 villa": {
            "main": [
                [],
                [
                    {
                        "node": "Google Drive - Create Title Folder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive - Create Title Folder": {
            "main": [
                [
                    {
                        "node": "Google Drive - Create Foto Folder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Drive - Create Foto Folder": {
            "main": [
                [
                    {
                        "node": "Extract Photos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Photos": {
            "main": [
                [
                    {
                        "node": "Has Photos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Photos": {
            "main": [
                [
                    {
                        "node": "Download Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download Photo": {
            "main": [
                [
                    {
                        "node": "Upload to Google Drive",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload to Google Drive": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "callerPolicy": "workflowsFromSameOwner",
        "executionOrder": "v1"
    }
}