invenio_supabase_price_sync_insert_subworkflow.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "id": "92f70f91-655a-41d6-9986-0236c77c7897",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -128,
                -96
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_list",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c7805a3e-b8f9-4df5-a9b5-dbf91d44e3a5",
            "name": "Invenio - Get Villas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                96,
                -96
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_price",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "id": "21ee7e30-76e6-45c0-82d9-bc8167d2a41e",
            "name": "Invenio - Get Prices",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                320,
                -96
            ]
        },
        {
            "parameters": {
                "jsCode": "const villasNode = $('Invenio - Get Villas').first();\nconst invenioPricesNode = $('Invenio - Get Prices').first();\n\nif (!villasNode) throw new Error(\"Could not find Villas data.\");\nif (!invenioPricesNode) throw new Error(\"Could not find Invenio Prices data.\");\n\nconst villas = villasNode.json.villas || [];\nlet rawPriceData = invenioPricesNode.json.price_data || [];\n\n// 1. Array di UUID Ibiza validi\nconst ibizaUuids = {};\nvillas.forEach(v => {\n    if (v.destination === 'Ibiza' && v.v_uuid) {\n        ibizaUuids[String(v.v_uuid).trim().toLowerCase()] = true;\n    }\n});\n\n// 2. Raggruppa prezzi per ogni villa\nlet itemsToProcess = [];\n\nlet priceEntries = [];\nif (Array.isArray(rawPriceData)) {\n    priceEntries = rawPriceData;\n} else if (typeof rawPriceData === 'object') {\n    for (const [key, value] of Object.entries(rawPriceData)) {\n        let obj = {};\n        obj[key] = value;\n        priceEntries.push(obj);\n    }\n}\n\nfor (const item of priceEntries) {\n    const v_uuid = Object.keys(item)[0];\n    if (!v_uuid) continue;\n    \n    const safeUuid = String(v_uuid).trim().toLowerCase();\n    if (!ibizaUuids[safeUuid]) continue;\n    \n    const periods = item[v_uuid];\n    if (!periods || !Array.isArray(periods)) continue;\n    \n    let formattedPeriods = periods.map(p => ({\n        v_uuid: v_uuid,\n        start_date: p.start_date,\n        end_date: p.end_date,\n        amount: parseFloat(p.amount) || 0,\n        minimum_nights: parseInt(p.minimum_nights) || 1,\n        allowed_checkin_days: p[\" allowed_checkin_days \"] || p.allowed_checkin_days || null\n    }));\n    \n    if (formattedPeriods.length > 0) {\n        itemsToProcess.push({\n            v_uuid: v_uuid,\n            prices: formattedPeriods\n        });\n    }\n}\n\nreturn itemsToProcess.map(item => ({ json: item }));"
            },
            "id": "3a88c555-f198-4df2-a14b-2dd0ee5cbcd1",
            "name": "Group Prices By Villa",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                544,
                -96
            ]
        },
        {
            "parameters": {
                "tableId": "invenio_seasonal_prices",
                "dataToSend": "autoMapInputData"
            },
            "id": "e8475f50-e6a4-40be-8251-1e7c477f1478",
            "name": "Insert Fresh Sync",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1440,
                -96
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "O92iJpR8Lb1I3BHl",
                    "name": "Supabase account"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "b12363b0-ac2f-42a7-99ff-23e26690cbe1",
            "name": "Loop Sub-workflow",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                768,
                -96
            ]
        },
        {
            "parameters": {
                "jsCode": "const loopItem = $('Loop Sub-workflow').item;\nlet prices = [];\nif (loopItem && loopItem.json && loopItem.json.prices) {\n    prices = loopItem.json.prices;\n}\nif (prices.length === 0) return [];\nreturn prices.map(p => ({ json: p }));"
            },
            "id": "b7c11c25-3d2d-4e75-93db-b6f74a94e759",
            "name": "Extract Array",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1216,
                -160
            ]
        },
        {
            "parameters": {
                "amount": 1
            },
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                992,
                -160
            ],
            "id": "4dfe9269-71dd-458d-8313-d3bf2edbe42e",
            "name": "Wait",
            "webhookId": "a1d0b4e8-0f22-485a-be28-f03e3828adac"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Villas": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Prices",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Prices": {
            "main": [
                [
                    {
                        "node": "Group Prices By Villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Group Prices By Villa": {
            "main": [
                [
                    {
                        "node": "Loop Sub-workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert Fresh Sync": {
            "main": [
                [
                    {
                        "node": "Loop Sub-workflow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Sub-workflow": {
            "main": [
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Array": {
            "main": [
                [
                    {
                        "node": "Insert Fresh Sync",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "Extract Array",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "5e048b46642fc5d8d5815113c9071babe15b9ccfee7f75796d7f9171ee57bef0"
    }
}