invenio_sync_v3_test.json
{
    "name": "Invenio Sync to WP Rentals (V3 Test 5 Villas)",
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -1232,
                -1504
            ],
            "id": "6430fe45-6273-49ba-b924-88d30773a18d",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://72.60.38.114:8080/wp-json/jwt-auth/v1/token",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{  \"username\": \"admin\",\"password\":  \"Ibiza62447881%%\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -1008,
                -1504
            ],
            "id": "5ebe1bb0-4652-498e-9624-503f982cbb4c",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_price",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "id": "invenio-get-prices",
            "name": "Invenio - Get Prices",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -784,
                -1504
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.inveniohomes.com/plapi/getdata/api_villa_list",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "api-key",
                            "value": "R$mAx1!"
                        },
                        {
                            "name": "bp_uuid",
                            "value": "1cb81d6f-96b8-47eb-9ef3-910739bb8d3a"
                        }
                    ]
                },
                "options": {}
            },
            "id": "28bddcec-b77e-4c61-b2b7-bb0463e05283",
            "name": "Invenio - Get Villas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -560,
                -1504
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "villas",
                "options": {}
            },
            "id": "b117dcd9-638b-4589-9590-39624105232d",
            "name": "Split Villas",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                -336,
                -1504
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "85907ad6-77c8-4754-a140-9d687e185b0b",
                            "leftValue": "={{ $json.destination }}",
                            "rightValue": "Ibiza",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -112,
                -1504
            ],
            "id": "b667f86b-06d2-44f0-a1b7-79acb1a41d53",
            "name": "If Ibiza"
        },
        {
            "parameters": {
                "operation": "limit",
                "maxItems": 5,
                "options": {}
            },
            "id": "limit-5-nodes",
            "name": "Limit to 5 Test Villas",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                40,
                -1520
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                192,
                -1520
            ],
            "id": "a1ff4c58-8ff2-47a9-86c1-1a25e486ee7b",
            "name": "Loop insert 1 villa"
        },
        {
            "parameters": {
                "jsCode": "// Check if villa exists by searching v_uuid via custom endpoint\nconst token = $('HTTP Request').item.json.token;\nconst vUuid = $('Loop insert 1 villa').item.json.v_uuid;\nconst baseUrl = 'http://72.60.38.114:8080';\n\nlet villaExists = false;\nlet wpPropertyId = null;\n\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: baseUrl + '/wp-json/ibiza-beyond/v1/property/search-by-uuid/' + vUuid,\n    headers: { 'Authorization': 'Bearer ' + token },\n    json: true\n  });\n  if (res.status === 'found') {\n    villaExists = true;\n    wpPropertyId = res.property_id;\n  }\n} catch (e) {\n  // Not found or error - treat as not exists\n}\n\nreturn [{\n  json: {\n    ...$('Loop insert 1 villa').item.json,\n    villa_exists: villaExists,\n    wp_property_id: wpPropertyId\n  }\n}];"
            },
            "id": "check-villa-exists-id",
            "name": "Check Villa Exists",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                -1600
            ]
        },
        {
            "parameters": {
                "jsCode": "// Photo Upload Node\n// We attempt to upload images to WordPress Media /wp-json/wp/v2/media\n// If successful, returns the array of uploaded Media IDs\n// This runs BEFORE creating/updating the WP Rentals property so we can attach them.\n\nconst token = $('HTTP Request').item.json.token;\nconst baseUrl = 'http://72.60.38.114:8080';\nconst photos = $json.photos || [];\nconst uploadedImageIds = [];\n\nif (!photos || photos.length === 0) {\n    return [{ json: { ...$json, uploaded_images_ids: [] } }];\n}\n\n// We limit to max 10 photos to keep the testing fast\nconst photosToUpload = photos.slice(0, 10);\n\n// For each photo, we download from Invenio and upload to WordPress Media\nfor (let i = 0; i < photosToUpload.length; i++) {\n   const url = photosToUpload[i];\n   try {\n       // 1. Dwonload the image as binary\n       const imageReq = await this.helpers.httpRequest({\n           method: 'GET',\n           url: url,\n           encoding: null,\n           resolveWithFullResponse: true\n       });\n       \n       const imageBuffer = imageReq.body;\n       const fileName = url.split('/').pop().split('?')[0] || `photo_${i}.jpg`;\n       \n       // 2. Upload to Wordpress Media\n       const uploadRes = await this.helpers.httpRequest({\n           method: 'POST',\n           url: baseUrl + '/wp-json/wp/v2/media',\n           headers: {\n               'Authorization': 'Bearer ' + token,\n               'Content-Disposition': `attachment; filename=\"${fileName}\"`,\n               'Content-Type': 'image/jpeg'\n           },\n           body: imageBuffer\n       });\n       \n       if (uploadRes && uploadRes.id) {\n           uploadedImageIds.push(uploadRes.id);\n       }\n   } catch(e) {\n       console.log('Error uploading image ' + url, e.message);\n   }\n}\n\nreturn [{ json: { ...$json, uploaded_images_ids: uploadedImageIds } }];\n// NOTE: The IDs are now available as $json.uploaded_images_ids for Add/Edit nodes.\n"
            },
            "id": "upload-photos-wp",
            "name": "Upload Photos to WP Media",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                592,
                -1600
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "if-exist-cond",
                            "leftValue": "={{ $json.villa_exists }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-exists-id",
            "name": "If Exists",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                784,
                -1744
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://72.60.38.114:8080/wp-json/wprentals/v1/property/add/",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('HTTP Request').item.json.token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"title\": \"{{ $('Loop insert 1 villa').item.json.villa_name }}\",\n  \"tagline\": \"{{ $('Loop insert 1 villa').item.json.tagline }}\",\n  \"property_description\": {{ JSON.stringify($('Loop insert 1 villa').item.json.description) }},\n  \"property_price_per_week\": {{ $('Loop insert 1 villa').item.json.minimum_price || 0 }},\n  \"property_city\": [ \"{{ [$('Loop insert 1 villa').item.json.areaname] }}\" ],\n  \"property_country\": [ \"{{ [$('Loop insert 1 villa').item.json.country] }}\" ],\n  \"property_area\": [ \"{{ [$('Loop insert 1 villa').item.json.district] }}\" ],\n  \"property_latitude\": \"{{ $('Loop insert 1 villa').item.json.gps ? $('Loop insert 1 villa').item.json.gps.split(',')[0].trim() : '' }}\",\n  \"property_longitude\": \"{{ $('Loop insert 1 villa').item.json.gps && $('Loop insert 1 villa').item.json.gps.includes(',') ? $('Loop insert 1 villa').item.json.gps.split(',')[1].trim() : '' }}\",\n  \"check-in-hour\": \"{{ $('Loop insert 1 villa').item.json.check_in }}\",\n  \"check-out-hour\": \"{{ $('Loop insert 1 villa').item.json.check_out }}\",\n  \"license\": \"{{ $('Loop insert 1 villa').item.json.license }}\",\n  \n  \"deposit\": {{ $('Loop insert 1 villa').item.json.deposit || 0 }},\n  \"images\": {{ JSON.stringify($('Upload Photos to WP Media').item.json.uploaded_images_ids || []) }},\n  \n  \"meta_fields\": {\n    \"property_bedrooms\": \"{{ $('Loop insert 1 villa').item.json.bedrooms || '' }}\",\n    \"property_bathrooms\": \"{{ $('Loop insert 1 villa').item.json.bathrooms || '' }}\",\n    \"property_rooms\": \"{{ $('Loop insert 1 villa').item.json.rooms || '' }}\",\n    \"property_guest_no\": \"{{ $('Loop insert 1 villa').item.json.sleeps || '' }}\"\n  },\n  \"taxonomies\": {\n    \"property_features\": {{ JSON.stringify($('Loop insert 1 villa').item.json.features || []) }}\n  },\n  \"custom_fields\": [\n    { \"slug\": \"v_uuid\", \"value\": \"{{ $('Loop insert 1 villa').item.json.v_uuid }}\" },\n    { \"slug\": \"minimum_nights\", \"value\": \"{{ $('Loop insert 1 villa').item.json.minimum_nights || '' }}\" },\n    { \"slug\": \"maximum_price\", \"value\": \"{{ $('Loop insert 1 villa').item.json.maximum_price || '' }}\" },\n    { \"slug\": \"cleaning_charge\", \"value\": \"{{ $('Loop insert 1 villa').item.json.cleaning_charge || '' }}\" },\n    { \"slug\": \"cleaning_type\", \"value\": \"{{ $('Loop insert 1 villa').item.json.cleaning || '' }}\" },\n    { \"slug\": \"sleeps\", \"value\": \"{{ $('Loop insert 1 villa').item.json.sleeps || '' }}\" },\n    { \"slug\": \"allow_shortstays\", \"value\": \"{{ $('Loop insert 1 villa').item.json.allow_shortstays || '' }}\" }\n  ],\n  \n  \"custom_price\": {{ JSON.stringify($('Invenio - Get Prices').item.json.price_data && $('Invenio - Get Prices').item.json.price_data[$('Loop insert 1 villa').item.json.v_uuid] ? $('Invenio - Get Prices').item.json.price_data[$('Loop insert 1 villa').item.json.v_uuid].map(p => ({ date_range: { from: p.start_date, to: p.end_date }, price: p.amount, details: { minimum_nights: p.minimum_nights || 1, checkin_day: p.allowed_checkin_days || \"\"} })) : []) }},\n  \"ical_feeds\": {{ $('Loop insert 1 villa').item.json.ical_url ? JSON.stringify([{ feed: $('Loop insert 1 villa').item.json.ical_url, name: \"Invenio iCal\" }]) : \"[]\" }}\n\n}",
                "options": {}
            },
            "id": "add-villa-id",
            "name": "WP Rentals - Add Villa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1008,
                -1648
            ]
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://72.60.38.114:8080/wp-json/wprentals/v1/property/edit/{{ $('Check Villa Exists').item.json.wp_property_id }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $('HTTP Request').item.json.token }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"title\": \"{{ $('Loop insert 1 villa').item.json.villa_name }}\",\n  \"tagline\": \"{{ $('Loop insert 1 villa').item.json.tagline }}\",\n  \"property_description\": {{ JSON.stringify($('Loop insert 1 villa').item.json.description) }},\n  \"property_price_per_week\": {{ $('Loop insert 1 villa').item.json.minimum_price || 0 }},\n  \"property_city\": [ \"{{ [$('Loop insert 1 villa').item.json.areaname] }}\" ],\n  \"property_country\": [ \"{{ [$('Loop insert 1 villa').item.json.country] }}\" ],\n  \"property_area\": [ \"{{ [$('Loop insert 1 villa').item.json.district] }}\" ],\n  \"property_latitude\": \"{{ $('Loop insert 1 villa').item.json.gps ? $('Loop insert 1 villa').item.json.gps.split(',')[0].trim() : '' }}\",\n  \"property_longitude\": \"{{ $('Loop insert 1 villa').item.json.gps && $('Loop insert 1 villa').item.json.gps.includes(',') ? $('Loop insert 1 villa').item.json.gps.split(',')[1].trim() : '' }}\",\n  \"check-in-hour\": \"{{ $('Loop insert 1 villa').item.json.check_in }}\",\n  \"check-out-hour\": \"{{ $('Loop insert 1 villa').item.json.check_out }}\",\n  \"license\": \"{{ $('Loop insert 1 villa').item.json.license }}\",\n  \n  \"deposit\": {{ $('Loop insert 1 villa').item.json.deposit || 0 }},\n  \"images\": {{ JSON.stringify($('Upload Photos to WP Media').item.json.uploaded_images_ids || []) }},\n\n  \"meta_fields\": {\n    \"property_bedrooms\": \"{{ $('Loop insert 1 villa').item.json.bedrooms || '' }}\",\n    \"property_bathrooms\": \"{{ $('Loop insert 1 villa').item.json.bathrooms || '' }}\",\n    \"property_rooms\": \"{{ $('Loop insert 1 villa').item.json.rooms || '' }}\",\n    \"property_guest_no\": \"{{ $('Loop insert 1 villa').item.json.sleeps || '' }}\"\n  },\n  \"taxonomies\": {\n    \"property_features\": {{ JSON.stringify($('Loop insert 1 villa').item.json.features || []) }}\n  },\n  \"custom_fields\": [\n    { \"slug\": \"v_uuid\", \"value\": \"{{ $('Loop insert 1 villa').item.json.v_uuid }}\" },\n    { \"slug\": \"minimum_nights\", \"value\": \"{{ $('Loop insert 1 villa').item.json.minimum_nights || '' }}\" },\n    { \"slug\": \"maximum_price\", \"value\": \"{{ $('Loop insert 1 villa').item.json.maximum_price || '' }}\" },\n    { \"slug\": \"cleaning_charge\", \"value\": \"{{ $('Loop insert 1 villa').item.json.cleaning_charge || '' }}\" },\n    { \"slug\": \"cleaning_type\", \"value\": \"{{ $('Loop insert 1 villa').item.json.cleaning || '' }}\" },\n    { \"slug\": \"sleeps\", \"value\": \"{{ $('Loop insert 1 villa').item.json.sleeps || '' }}\" },\n    { \"slug\": \"allow_shortstays\", \"value\": \"{{ $('Loop insert 1 villa').item.json.allow_shortstays || '' }}\" }\n  ],\n  \n  \"custom_price\": {{ JSON.stringify($('Invenio - Get Prices').item.json.price_data && $('Invenio - Get Prices').item.json.price_data[$('Loop insert 1 villa').item.json.v_uuid] ? $('Invenio - Get Prices').item.json.price_data[$('Loop insert 1 villa').item.json.v_uuid].map(p => ({ date_range: { from: p.start_date, to: p.end_date }, price: p.amount, details: { minimum_nights: p.minimum_nights || 1, checkin_day: p.allowed_checkin_days || \"\"} })) : []) }},\n  \"ical_feeds\": {{ $('Loop insert 1 villa').item.json.ical_url ? JSON.stringify([{ feed: $('Loop insert 1 villa').item.json.ical_url, name: \"Invenio iCal\" }]) : \"[]\" }}\n}",
                "options": {}
            },
            "id": "edit-villa-id",
            "name": "WP Rentals - Edit Villa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1008,
                -1840
            ]
        },
        {
            "parameters": {
                "jsCode": "// After creating a new villa: save v_uuid as meta + set features\nconst token = $('HTTP Request').item.json.token;\nconst baseUrl = 'http://72.60.38.114:8080';\nconst propertyId = $json.property_id;\nconst vUuid = $('Loop insert 1 villa').item.json.v_uuid;\nconst features = $('Loop insert 1 villa').item.json.features || [];\n\n// Save v_uuid\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: baseUrl + '/wp-json/ibiza-beyond/v1/property/' + propertyId + '/meta',\n  headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ v_uuid: vUuid })\n});\n\n// Set features\nif (features.length > 0) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl + '/wp-json/ibiza-beyond/v1/property/' + propertyId + '/features',\n    headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ features: features })\n  });\n}\n\nreturn [{ json: { saved: true, villa_name: $('Loop insert 1 villa').item.json.villa_name, property_id: propertyId, features_count: features.length } }];"
            },
            "id": "save-property-id",
            "name": "Save Property ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1296,
                -1600
            ]
        },
        {
            "parameters": {
                "jsCode": "// After editing: ensure v_uuid + features are set\nconst token = $('HTTP Request').item.json.token;\nconst baseUrl = 'http://72.60.38.114:8080';\nconst propertyId = $('Check Villa Exists').item.json.wp_property_id;\nconst vUuid = $('Loop insert 1 villa').item.json.v_uuid;\nconst features = $('Loop insert 1 villa').item.json.features || [];\n\n// Ensure v_uuid is saved\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: baseUrl + '/wp-json/ibiza-beyond/v1/property/' + propertyId + '/meta',\n  headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ v_uuid: vUuid })\n});\n\n// Update features\nif (features.length > 0) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: baseUrl + '/wp-json/ibiza-beyond/v1/property/' + propertyId + '/features',\n    headers: { 'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ features: features })\n  });\n}\n\nreturn [{ json: { updated: true, property_id: propertyId, features_count: features.length } }];"
            },
            "id": "save-edit-id",
            "name": "After Edit",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1296,
                -1840
            ]
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Prices",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Prices": {
            "main": [
                [
                    {
                        "node": "Invenio - Get Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Invenio - Get Villas": {
            "main": [
                [
                    {
                        "node": "Split Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Villas": {
            "main": [
                [
                    {
                        "node": "If Ibiza",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Ibiza": {
            "main": [
                [
                    {
                        "node": "Limit to 5 Test Villas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit to 5 Test Villas": {
            "main": [
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop insert 1 villa": {
            "main": [
                [],
                [
                    {
                        "node": "Check Villa Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Villa Exists": {
            "main": [
                [
                    {
                        "node": "Upload Photos to WP Media",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upload Photos to WP Media": {
            "main": [
                [
                    {
                        "node": "If Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Exists": {
            "main": [
                [
                    {
                        "node": "WP Rentals - Edit Villa",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "WP Rentals - Add Villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP Rentals - Add Villa": {
            "main": [
                [
                    {
                        "node": "Save Property ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP Rentals - Edit Villa": {
            "main": [
                [
                    {
                        "node": "After Edit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Property ID": {
            "main": [
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "After Edit": {
            "main": [
                [
                    {
                        "node": "Loop insert 1 villa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true
    }
}